
    <div class="container mt-5">
      <h2>Registro</h2>
      <form @submit.prevent="register">
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <input
            type="text"
            class="form-control"
            id="username"
            v-model="user.username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            v-model="user.password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            v-model="user.email"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    </div>
  